.login{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-image: url("https://www.thesurinphuket.com/upload/large/94.jpg");
        background-repeat: no-repeat;
        background-position: center;
}
.mat-card {
        transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
        display: block;
        position: relative;
        padding: 45px;
        border-radius: 2px;
        width: 220px;
    }

    .title{
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        text-align: center;
        justify-content: center;
        font-size: 40pt;
        color: white;
        right: 5px;
        top: 20px;
        background: gray;
        padding: 7px;
        border: 1px solid gray;
        border-radius: 5px;
    }